<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- StringPrinter 클래스를 Spring Bean으로 등록  -->
	<bean id="strPrinter" class="myspring.di.xml.StringPrinter"/>
	
	<!-- ConsolePrinter 클래스를 Spring Bean으로 등록 -->
	<bean id="conPrinter" class="myspring.di.xml.ConsolePrinter" />
	
	<bean id="helloC" class="myspring.di.xml.Hello">
		<!-- Constructor Inhection -->
		<!-- Hello.java에서 public Hello(String name, Printer printer) 메소드의 name에 생성자가 들어가고 printer에 conPrinter가 들어감-->
		<constructor-arg index="0" value="생성자" />
		<constructor-arg index="1" ref="conPrinter" />
		<!--  Hello.java의 setNames()가 호출됨 -->
		<property name="names">
			<list>
				<!--  setNames()에 value 들이 저장됨 -->
				<value>SpringFramework</value>
				<value>SpringBoot</value>
				<value>SpringCloud</value>
			</list>
		</property>
	</bean>
	<!-- Hello 클래스를  Spring Bean으로 등록 -->
	<bean id="hello" class="myspring.di.xml.Hello" scope="singleton">
		<!-- Setter Inhection -->
		<property name="name" value="스프링" />
		<property name="printer" ref="strPrinter"></property>
	</bean>
	
</beans>